@charset "utf-8";

*{
  margin: 0;
  padding: 0;
  line-height: 1.0;
}

a{
  text-align: center;
  box-sizing:border-box;
  text-decoration:none;
  color:#fff;
  font-size:14px;
}

a:hover{
  cursor:pointer;
}

/* モーダル背景 半透明レイヤー */
.modal_container{
  width: 100%;
  height: 100%;
  background-color: (0,0,0,0.5);
  position:absolute;
  top: 0;
  left: 0;
  display:flex;
  justify-content: center;
  opacity:0;
  visibility:hidden;
  transition:0.3s;
}

/* モーダルが開かれた時 表示 */
.modal_container:open{
opacity:1;
visibility:visible;
}

/* モーダル */
.modal{
  background-color: #fff;
  padding:50px;
  box-sizing:border-box;
  max-width:500px;
  border-radius:20px;
}

.open{
  opacity:1;
visibility:visible;
}
