
@media screen and (min-width:768px){
  .sp{
    display: none;
  }

  * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
  }

  body{
    font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    font-weight: 400;
    color: #444444;
    background-image: url("../image/back.jpg");
    background-size: 100% auto;
  }

/* デフォルトのbuttonスタイルをリセット */
button{
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;/* デフォルトスタイルを無効 */
  background-color: tranceparent;/* 透明に*/
  border:0;
  border-radius:0;
  color:inherit;/* 親要素の色を使用する */
  font:inherit;
  cursor:pointer;
  outline:none;
  margin: 0;
  padding: 0;
  vertical-align:middle;
}



/*================================================================================
    h1：ヘッダー画像ロゴに使用
    h2：各見出しに使用（「コースメニュー」「ピックアップメニュー」等）
    h3：はじめの「門庭は肉屋直営店です」、「こだわりの味」、
        ピックアップメニューの料理名に使用
    h4：コースメニューのコース名に使用
================================================================================*/
  h1{
    margin: 0;
  }

  h1 img{
    margin-top: 5%;
    width: 15vw;
  }

  h2{
    display: inline-block;
    text-align: center;
    border-bottom: solid 1px #444444;
    font-family: "Sawarabi Mincho";
    font-size: 350%;
    font-weight: 700;
    margin-bottom: 2%;
  }

  h3{
    font-size: 150%;
  }

  h4{
    text-align: right;
    font-size: 220%;
    margin: 0;
  }

  header{
    height:8.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1%;
    text-align: right;
    font-size: 1.5vw;
    font-weight: 700;
  }

  .first{
    text-align: center;
    position: relative;
    margin-bottom: 2%;
  }

  /* #logo{
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 15%;
    height: 45%;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.6);
    z-index: 9999;
  } */

  #logo{
    /* background-color: rgba(255, 255, 255, 0.6); */
    position: absolute;
    top: 75%;
    /* left: 0; */
    right: 0%;
    /* bottom: 20%; */
    margin: auto;
    width: 25%;
    height: auto;
    /* box-shadow: 5px 10px 10px rgb(0 0 0 / 60%); */
    z-index: 9999;
  }

  #logo img{
    width: 60%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .swiper-container{
    width: 100%;
    height: 60vw;
  }

  .swiper-container img{
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    filter: saturate(1.2);
  }

  main{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .intro_wrap{

  }

  .intro1,.intro2{
    background-color: rgba(255, 255, 255, 0.7);
    width: 90%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .intro_wrap img{
    margin: 3%;
  }

  .intro1{

  }

  .intro2{
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .intro_text{
    margin: 3%;
    text-align: center;
    flex-grow: 1;
  }

  .intro_text p{
    font-size: 110%;
  }

  .menu1, .menu2, .shop, .reserve{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .list1{
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
  }

  .list1 img{
    margin: 3%;
  }

  .list_text{
    width: 40%;
    margin: 3%;
    flex-grow: 1;
    font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
    font-weight: 700;
  }

  .price{
    font-size: 220%;
    color:#a40101;
    text-align: right;
    margin: 0;
  }

  .content{
    font-size: 130%;
    line-height: 1.5em;
    margin-top: 5%;
    margin-bottom: 0;
  }

  .attention{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2%;
    text-align: left;
    border: solid 1px rgba(68, 68, 68, 0.7);
    border-radius: 10px;
  }

  .list2{
    /* background-color: rgba(255, 255, 255, 0.7); */
    display: flex;
    justify-content: space-between;
  }

  .menu2_wrapper{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
  }

  .list2 img{
    object-fit: cover;
  }


  #note{
    font-size: 120%;
    line-height: 1.5em;
    margin-top: 0;
  }

  #naikan{
    display: flex;
    justify-content: space-between;
  }

  #naikan img{
    width: 100%;
  }

  table{
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    padding: 2%;
    table-layout: fixed;
    font-family: 'Meiryo UI','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  }

  table td{
    overflow-wrap : break-word;
    padding-top: 1%;
  }

  .tdl{
    width:30%;
    text-align: center;
  }

  .tdr{
    width: 60%;
    text-align: left;
  }

  #map{
    width: 100%;
    margin: 2% 0;
  }

  #map iframe{
    width: 100%;
  }

  .reserve img{
    width: 100%;
  }

  .reserve p{
    font-size: 110%;
    font-weight: 700;
  }

  .reserve p:nth-of-type(2n){
    text-decoration: underline;
  }

  .tel{
    width:60%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 30px;
    background-color: #444444;
    font-size: 200%;
  }

  .tel p{
    padding:1%;
    letter-spacing: 0.1em;
  }

  .tel a{
    text-decoration: none;
    color: #ffffff;
  }

  #sns img{
    width: 72px;
    height: 72px;
    margin: 1%;
  }

  #pagetop{
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  #pagetop a{
    display: block;
    background-color: rgba(68, 68, 68, 0.7);
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 2em;
  }

  #pagetop a:hover{
    position: relative;
    background-color: rgba(68, 68, 68, 1);
  }

  footer{
    text-align: center;
    margin-top: 2%;
    padding: 5% 0;
    background-color: rgba(68, 68, 68, 0.8);
    color: #ffffff;
  }

  .fade-up {
  transition: opacity 0.7s;
  -moz-transition: opacity 0.7s;
  -webkit-transition: opacity 0.7s;
  -o-transition: opacity 0.7s;
  transition: transform 0.7s;
  -moz-transition: transform 0.7s;
  -webkit-transition: transform 0.7s;
  -o-transition: transform 0.7s;
}

/*ーーーーーーーーーーーーー modal ーーーーーーーーーーーーーーー*/

/* Remodal のモーダル */
.remodal img{
  width: 100%;
}

/* 普通のモーダル */
.list_2_item .list_2_img .list_2_item_a:hover {
      opacity: 0.8;
    }

.jyusyo_ul .jyusyo_li .jyusyo_a .jyusyo_img {
      width: 200px;
    }

.modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.8);
      display: none;
      text-align: center;
      z-index: 9999;
    }

.bigimg {
      position: absolute;
      width: 80%;
      max-width: 800px;
      top: 50%;
      transform:translateY(-50%);
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      background-color: #fff;
      padding:80px 30px;
      border-radius: 5px;
    }


.close-btn {
      color: #fff;
      font-size: 40px;
      position: absolute;
      right: 10%;
      top: 5%;
    }

.close-btn a {
      color: #fff;
      text-decoration: none;
    }


}

@media (max-width: 767px){
  .pc{
    display: none;
  }

  .img_item{
width: 45px;
height: auto;
margin-right:10px;
  }

  .tel_img{
    width: 100%;
  }

  .tel_nav{
    display: flex;
    align-items: center;
  }

/*ーーーーーーnavタグ　基本の指定ーーーーーー*/

nav{
  font-size:16px;
}

nav li{
  list-style:none;
}

nav a{
  text-decoration:none;
  color:#fff;
}

/* ーーーーーー以下、ハンバーガーボタンーーーーーー */

/* ハンバーガーボタン 外枠 親要素 */
.burger_btn{
  display: block;
  width: 39px;
  height: 39px;
  position:relative;
  z-index:3;
  border:none;
}

/* ハンバーガーボタン spanタグ 基本 */
.bar{
width:20px;
height: 1px;
display: block;
position:absolute;
left: 50%;
transform:translateX(-50%);
background-color: #444;
}

.bar_top{
top:10px;
}

.bar_mid{
  top:50%;
  transform:translate(-50%,-50%);
}

.bar_bottom{
  bottom:10px;
}

/* バーガーボタン 3本線がバツになる */

.burger_btn.close .bar_top{
  transform:translate(-50%,10px) rotate(45deg);
  transition:transform .3s;
}

.burger_btn.close .bar_mid{
  opacity:0;
  transition:opacity .3s;
}

.burger_btn.close .bar_bottom{
transform:translate(-50%,-8px) rotate(-45deg);
transition:transform .3s;
}

/* 以下、ハンバーガーメニュー */
.nav_wrapper{
  /* visibility:hidden;
  opacity:0; */
  width: 100vw;
  height: 100vh;
  position:fixed;
  top: 0;
  left: 0;
  transform:translate(100%);
  transition:all .5s;
z-index:3;
}

/* メニューオープン時 背景*/
.header_nav{
  width: 100%;
  height: 100%;
  background-color: #1B1310;
  z-index:3;
}

.nav_list{
  display: block;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
}

.nav_item{
  margin-right:0;
  margin-bottom: 40px;
}

/* メニューオープン時 */
/* .nav_wrapper.fade{
  visibility:visible;
  opacity:1;
} */

/* メニューオープンした時に　横にスライドしてくる */
.nav_wrapper.slide-in{
  transform:translateX(0);
}


/* ーーーーーーモーダルーーーーーー */
/* Remodal のモーダル */
.remodal img{
  width: 100%;
}

}
